.Company{
  text-align: center;
  background-image: url('../../images/office.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.Company-name{
  color: white;
  padding-top: 10px;
}

.Company-description{
color: white;
margin: 5px 20px;
}

.JobDetail{
  padding: 20px;
}